<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>CinnabarSharp</string>
    <key>CFBundleDisplayName</key>
    <string>CinnabarSharp</string>
    <key>CFBundleIdentifier</key>
    <string>com.pgourlain.cinnabarsharp</string>
    <key>CFBundleVersion</key>
    <string>@VERSION@</string>
    <key>CFBundleShortVersionString</key>
    <string>@VERSION@</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>CinnabarSharp</string>
    <key>CFBundleIconFile</key>
    <string>CinnabarSharp.icns</string>
    <key>CFBundleIconName</key>
    <string>CinnabarSharp</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.graphics-design</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Image</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.png</string>
                <string>public.jpeg</string>
                <string>com.microsoft.bmp</string>
                <string>com.compuserve.gif</string>
                <string>public.tiff</string>
                <string>org.webmproject.webp</string>
                <string>public.heic</string>
                <string>public.heif</string>
                <string>public.svg-image</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
